* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

body {
  background: radial-gradient(ellipse at center, #121826 0%, #000000 100%);
  font-family: var(--font-inter), sans-serif;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}
